{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
        //用到的polyfill才会转换，不会整个polyfill引进
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import", //用于代码拆分
    "transform-object-rest-spread"//es2017的...扩展运算符转换
  ]
}